@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.InventoryDetails-container {
  width: 100%;
  display: flex;
  position: relative;
  top: -5rem;
}

.InventoryDetails {
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 16px;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: $white;
  border-bottom: 1px solid $cloud;
  border-radius: 3px 3px 0 0;
}

.details-title {
  display: flex;

  &__title {
    font-size: 28px;
  }
  &__back {
    margin-right: 6px;
    display: flex;
    align-items: center;
  }
}

.details-body {
  padding: 5px 24px 24px 24px;
}

.body-container1 {
  width: 100%;
}

.body-container2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body {
  width: 100%;
  margin-top: 10px;

  &__header {
    font-size: 11px;
    font-weight: 600;
    color: $slate;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 13px;
    margin-bottom: 5px;
  }
}
.body-status-quantity {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.body-status,
.body-quantity {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .InventoryDetails {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 32px;
  }
  .body {
    margin-bottom: 5px;
  }
  .details-body {
    display: flex;
    padding: 15px 0;
  }
  .body-container1 {
    width: 50%;
    border-right: 1px solid $cloud;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
  }
  .body-container2 {
    width: 50%;
    padding: 0 24px;
    display: flex;
  }
  .body-status-quantity {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .body-status,
  .body-quantity {
    margin: 0;
  }
  .body__text-descript {
    max-width: 90%;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1280px) {
  .InventoryDetails {
    margin: 0 130px;
  }

  .details-header {
    padding-left: 35px;
    padding-right: 35px;
  }

  .body-container1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .body-container2 {
    padding-left: 35px;
    padding-right: 35px;
  }
}
