@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.WarehouseDetails-container {
  width: 100%;
  display: flex;
  position: relative;
  top: -5rem;
}

.WarehouseDetails {
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 16px;
}
.warehouse-details-list {
  display: none;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: $white;
  border-bottom: 1px solid $cloud;
}

.details-title {
  display: flex;

  &__title {
    font-size: 28px;
  }
  &__back {
    margin-right: 6px;
    display: flex;
    align-items: center;
  }
}

.details-body {
  padding: 15px;
}

.details-body-container1 {
  width: 100%;
}

.details-body-container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body__text--wrapper {
  display: flex;
  flex-direction: row;
}

.body {
  width: 100%;
  margin-top: 10px;

  &__header {
    font-size: 11px;
    font-weight: 600;
    color: $slate;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 0.813rem;
    margin: 0;
  }
}
.body-contact-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.body-contact {
  margin-top: 10px;
}
.body-address {
  margin-bottom: 20px;
}
.body-contact-name,
.body-contact-email {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .warehouse-details-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 11px 24px 11px 24px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: $light-grey;
    &__last {
      text-align: end;
      justify-content: end;
      display: flex;
    }
  }
  .warehouse-details-list p {
    display: flex;
    align-items: center;
  }
  .details-item-container {
    display: flex;
    width: 15%;
    &__icon {
      width: 15px;
    }
  }
  .details-item-container-actions {
    display: flex;
    width: 10%;
    justify-content: center;
  }
  .WarehouseDetails {
    margin: 0 32px;
  }
  .body {
    margin-bottom: 5px;
    &__header {
      font-size: 12px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .details-body {
    display: flex;
    padding: 15px 0;
  }
  .details-body-container1 {
    width: 50%;
    border-right: 1px solid $cloud;
    padding: 0 24px;
    display: flex;
  }
  .details-body-container2 {
    // width: 50%;
    padding: 0 40px;
    display: flex;
  }

  .body__text--wrapper {
    display: flex;
    flex-direction: column;
  }

  .body-contact-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .body-contact {
    margin: 0;
  }
  .body-contact-name {
    margin-right: 20px;
  }
  .body-address {
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .body__text-descript {
    max-width: 90%;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1280px) {
  .WarehouseDetails {
    margin: 0 130px;
  }
  .warehouse-details-list {
    padding: 11px 48px;
  }

  .details-header {
    padding-left: 35px;
    padding-right: 35px;
  }

  .details-body-container1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .details-body-container2 {
    padding-left: 35px;
    padding-right: 35px;
  }
  .body-address {
    width: 45%;
  }
}
