@use "/src/styles/partials/variables" as *;

.inStock{
    padding: 0.25rem 0;
    display: flex;
    justify-content: center;
    width: 5rem;
    max-height: 1rem;
    border-radius: 20px;
    background-color: rgba($green, .15); ;
    color: $green;
    align-items: center;
}

.inStock-text{
    text-align: center;
}

.notInStock{
    padding: 0.25rem 0;
    display: flex;
    justify-content: center;
    max-height: 1rem;
    width: 7rem;
    border-radius: 20px;
    background-color: rgba($red, .15); ;
    color: $red;
    align-items: center;
}

.notInStock-text{
    max-height: 1rem;
    text-align: center;
}