.warehouses-container {
  width: 100%;
  display: flex;
}

.warehouses {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 1rem;
}

.warehouse-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  flex-direction: column;
  text-align: start;
  &__title {
    color: black;
    font-size: 28px;
    margin: 0;
    margin-bottom: 1.2rem;
  }
}

.header-interactive {
  &__search {
    box-sizing: border-box;
    background-image: url(../../assets/icons/search-24px.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    border: 0.5px solid #bdc5d5;
    margin-bottom: 1rem;
  }

  &__add {
    width: 100%;
  }
}

.warehouse-list {
  display: none;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .warehouse-header {
    flex-direction: row;
    border: none;
    &__title {
      margin: 0;
      width: 30%;
      font-size: 32px;
    }
  }

  .header-interactive {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    &__search {
      width: 47%;
      margin: 0;
      margin-right: 1rem;
    }

    &__add {
      width: 43%;
    }
  }
  .warehouse-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 11px 24px 11px 24px;
    box-sizing: border-box;
    background-color: #bdc5d5;

    &__last {
      text-align: end;
      justify-content: end;
      display: flex;
    }
  }
}
.item-container {
  width: 20%;
}
.item-container p {
  width: 100%;
}
.item-container-actions {
  width: 10%;
}

@media screen and (min-width: 1280px) {
  .warehouses {
    margin: 0 130px;
  }
  .warehouse-header{
padding-left: 48px;
padding-right: 48px;
  }

  .item-container-actions {
    width: 6.5%;
  }
  .header-interactive {
    &__search {
      width: 55%;
    }

    &__add {
      width: 32%;
    }
  }

  .warehouse-list {
    padding: 11px 48px 11px 48px;

    &__last {
      text-align: end;
      justify-content: end;
      display: flex;
    }
  }
}
